* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Acme", sans-serif;
}

button, .submitBtn {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.25rem 1rem;
}

.body-container {
    position: relative;
    width: 1000px;
    margin: auto;
}

.header {
    text-align: center;
    margin: 2rem auto 0 auto;
}

.header > h1 {
    font-family: "Lily Script One";
    font-size: 3rem;
}

.main-content {
    display: flex;
}

.sidebar-content {
    flex: 1 0 auto;
}

.sidebar-content > h2 {
    margin-top: 4rem;
}

.sketchpad-content {
    flex: 1 0 auto;
    text-align: center;
}

.sketchpad {
    display: grid;
    width: 576px;
    height: 576px;
    border: 1px black solid;
    margin: 2rem auto;
}

.toggle-status {
    font-size: 1.5rem;
}

.clear-sketchpad {
    margin: 1rem;
}

footer {
    text-align: center;
    margin: 2rem;
}